@keyframes mover
    0% 
        transform: rotate(-10deg) scale(1.2)
    25%
        transform:  rotate(10deg) scale(1.2)
    50%
        transform:  rotate(-10deg) scale(1.2)
    100%
        transform:  rotate(0deg) scale(1.2)             